<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leads details</title>
</head>
<body>
    <a href="/leads/">Go back to leads list</a>
    <hr>
    <h1>The detail of {{ lead.first_name }} {{ lead.last_name }}</h1>
    <h2>Actual agent for this lead is {{ lead.agent }}</h2>
    <ul>
        <li>Age: {{ lead.age }}</li>
        <li>Source: {{ lead.source }}</li>
    </ul>
    <hr>
    <a href="/leads/{{ lead.pk }}/update">Update lead info</a>
    <hr>
    <a href="/leads/{{ lead.pk }}/delete">Delete lead info</a>
</body>
</html>